add_headers will always be applied for HTTP and HTTPS server

## Affected Puppet, Ruby, OS and module versions/distributions

- Puppet: all versions
- Ruby: all versions
- Distribution: Ubuntu (18.04)
- Module version: v0.15.0
 
## How to reproduce (e.g Puppet code you use)

```puppet
class { nginx:
  confd_purge     => true,
  server_purge    => true,
  gzip            => on,
  gzip_vary       => on,
  gzip_min_length => 256,
  gzip_proxied    => 'expired no-cache no-store private no_last_modified no_etag auth',
  gzip_comp_level => 4,
}

nginx::resource::server { 'mor.re'
  www_root                  => $www_root,
  ssl_cert                  => '/etc/letsencrypt/live/mor.re/fullchain.pem',
  ssl_key                   => '/etc/letsencrypt/live/mor.re/privkey.pem',
  index_files               => [],
  ssl                       => true,
  ssl_stapling              => true,
  ssl_stapling_verify       => true,
  http2                     => 'on',
  ssl_redirect              => true,
  ssl_protocols             => 'TLSv1.2',
  ssl_ciphers               => 'ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDH
E-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256'
,
  ssl_prefer_server_ciphers => 'on',
  ssl_session_tickets       => 'off',
  ssl_session_timeout       => '1d',
  ssl_cache                 => 'shared:SSL:50m',
  add_header             => {
    'x-frame-options':           'SAMEORIGIN'
    'x-content-type-options':    'nosniff'
    'x-xss-protection':          '1; mode=block'
    'referrer-policy':           'no-referrer-when-downgrade'
    'strict-transport-security': 'max-age=31536000; includeSubDomains; preload'
  }
}
```

## What are you seeing

With the example code above (I extracted it out of my profile combined with the settings from hiera) you will produce a server that will always redirect from HTTP to HTTPS (due to `ssl_redirect`), but will also set all headers for HTTP and HTTPS.

While this may be necessary sometimes, it mostly does not make sense or is sometimes even not allowed (e.g. with HSTS, see [RFC 6797, Section 7.2](https://tools.ietf.org/html/rfc6797).

## What behaviour did you expect instead

I think it would make sense to be able to differ between headers for the HTTP and the HTTPS vhost, but I’m not yet clear on how to achive this in a way that makes sense.

+1